<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SKB.ArchiveManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SKB.ArchiveManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SKB.ArchiveManager.Properties.Settings>
            <setting name="SkinName" serializeAs="String">
                <value>DevExpress Style</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SKB.ArchiveManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SKB.ArchiveManager.Properties.Settings>
            <setting name="BaseName" serializeAs="String">
                <value>DV_SKB_WorkBase</value>
            </setting>
            <setting name="AccessMatrixPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CardRightsSheet" serializeAs="String">
                <value>CardRights</value>
            </setting>
            <setting name="FolderRightsSheet" serializeAs="String">
                <value>FolderRights</value>
            </setting>
            <setting name="AdminGroup" serializeAs="String">
                <value>DV Admins</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>DV5</value>
            </setting>
            <setting name="FolderForFixPath" serializeAs="String">
                <value>f8e019a9-3f76-4da2-886a-b555faba70ea</value>
            </setting>
            <setting name="FolderForMarketingFiles" serializeAs="String">
                <value>8f0089f8-e20a-4562-bb40-fe86e00c9cde</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>RKIT</value>
            </setting>
        </SKB.ArchiveManager.Properties.Settings>
    </applicationSettings>
</configuration>